body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #858585;
}
div {
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.text-2 {
    padding-left: 20px;
}
.krug {
    margin-top: 5px;

}
.palka {
    margin-top: 6px;
    position: absolute;
    margin-left: 16px;
}
.liniya {
    position: absolute;
    padding-left: 120px;
    margin-bottom: 8px;
    
    
}
.strelka {
    margin-left: 16px;
    width: 7px;
    height: 14px;
    margin-bottom: 12px;
}
button {
    background-color: #6c5ce7;
    color: white;
    letter-spacing: 0.2px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    margin: 20px;
    line-height: 32px;
    align-items: center;

}
